@charset "utf-8";
/*CSS Document*/
html, body{
    margin: 0px;
    
}
body{
    background-color: #ffbd43;
}
img{
    width: 100%;
}
input{
    width: 100%;
    height: 10%;
}
.general{
    background-color: #FFA000;
}
.contenedortextimg{
    width: 100%;
    height: 500px;
    background-color: #e5ca9b;
}
.cont-tex-img2{
    margin: auto;
    width: 85%;
    height: 500px;
    
}
.conttext{
    margin: auto;
    width: 50%;
    height: 500px;
    
}
.contimg{
    margin: auto;
    width: 50%;
    height: 500px;
    
}
.flotante-50{
    
    float: left;
    width: 50%;
    padding: 20px 0px 0px 0px;
}
.titulo{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2.5em;
    padding: 0px 0px 0px 20px;
}
.texto{
    
    padding: 0px 20px 0px 20px;
}